.issues-num {
  font-style: italic;
  font-family: 'lab';
  font-variation-settings: 'size' 30, 'quad' 40, 'bevl' 20, 'oval' 30;
  opacity: 0.6;
  cursor: pointer;
  color: var(--color-fg-default) !important;
}
