.home-page {
  .issues-list {
    max-width: unset;

    > div {
      display: flex;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 0 auto;
    }

    .author-info {
      margin-bottom: 3px;

      .author {
        img {
          width: 24px;
        }
      }

      span,
      i {
        font-size: 12px;
      }

      .number {
        float: right;
        opacity: 0.3;
        line-height: 26px;
      }
    }

    .post-info {
      .title {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        vertical-align: middle;
      }
    }

    @media screen and (min-width: 721px) {
      .item {
        width: calc(50% - 20px);
        margin: 0 10px 20px;
        min-width: 200px;
        max-width: 100%;
        border: solid 1px var(--gg-border);
        border-radius: 5px;
        overflow: hidden;

        .author-info {
          background-color: var(--gg-border);
          padding: 3px 5px;
        }

        .post-info {
          padding: 5px;
        }
      }
    }

    @media screen and (max-width: 720px) {
      .item {
        width: 100%;
        padding: 15px 0 12px;
        border-bottom: solid 1px rgba(150, 150, 150, 0.2);

        .author-info {
          margin-bottom: 5px;
        }
      }
    }
  }
}
