.dev-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: var(--layout-header-height);
    background-color: #fff;
    background-color: var(--theme-header-background-color);
    border-bottom: solid 1px rgba(120, 120, 120, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
      0 2px 8px hsla(0, 0%, 0%, 0.05);
  }

  main {
    padding-top: 80px;
    min-height: calc(100vh - var(--layout-header-height));
    background-color: var(--theme-content-background-color);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--layout-footer-height);
    width: 100%;
    background-color: var(--theme-footer-background-color);
    font-size: 14px;
    color: #838c95;
    border-top: solid 1px rgba(120, 120, 120, 0.2);

    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.issues-page {
  h1 {
    text-align: center;
  }
}
