.gg-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: var(--layout-header-height);
    background-color: #fff;
    background-color: var(--theme-header-background-color);
    border-bottom: solid 1px rgba(120, 120, 120, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
      0 2px 8px hsla(0, 0%, 0%, 0.05);

    .imglogo {
      width: 32px;
      border-radius: 8px;
      border: solid 1px var(--gg-border);
      cursor: pointer;
    }
  }

  main {
    padding-top: 80px;
    min-height: calc(100vh - var(--layout-footer-height));
    background-color: var(--theme-content-background-color);
  }

  footer {
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--layout-footer-height);
    width: 100%;
    background-color: var(--theme-footer-background-color);
    font-size: 14px;
    color: #838c95;
    text-align: center;

    &::after {
      position: absolute;
      top: 0;
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      background: radial-gradient(rgba(150, 150, 150, 0.6), transparent 80%);
    }

    img {
      vertical-align: middle;
    }

    .owner {
      margin-left: 5px;
      color: #3486e2;
      cursor: pointer;
      text-decoration: none;
    }

    .copyright {
      margin-left: 10px;
    }

    .powered {
      margin-left: 5px;
    }

    @media screen and (max-width: 720px) {
      flex-direction: column;

      .copyright,
      .powered {
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }
}

.issues-page {
  h1 {
    text-align: center;
  }
}
