.nav-labels-page {
  .gg-label {
    height: 30px;
    line-height: 29px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;

    b {
      padding: 0 10px;
    }

    em {
      padding: 0 10px;
    }
  }
}
